.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-default-white;
  z-index: 2;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
  }

  &__menu ul {
    display: flex;
  }

  &__link {
    margin: 0 24px 0 0;

    &:last-child {
      margin: 0;
    }

    svg {
      margin: 0 0 5px 0;
    }
    
  }

  
}
